# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = '../python-api-Challenge/cities.csv'
gweather_df = pd.read_csv((csv_file),index_col=0)
gweather_df.head()

,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature
0,Tuban,ID,52,-6.8976,112.0649,81,3.18,79.14
1,Lompoc,US,20,34.6391,-120.4579,16,12.66,69.80
2,New Norfolk,AU,65,-42.7826,147.0587,83,5.01,64.99
3,Butaritari,KI,98,3.0707,172.7902,83,10.98,80.55
4,Qaanaaq,GL,90,77.4840,-69.3632,82,2.62,-5.53

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = gweather_df[["Lat","Long"]]
locations.head()

       Lat      Long
0  -6.8976  112.0649
1  34.6391 -120.4579
2 -42.7826  147.0587
3   3.0707  172.7902
4  77.4840  -69.3632

In [5]:
humidity = gweather_df["Humidity"]
humidity.head()

0    81
1    16
2    83
3    83
4    82
Name: Humidity, dtype: int64

In [6]:
#fig = gmaps.figure()

In [7]:
#gheat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=100,point_radius=3)

In [8]:
#fig.add_layer(gheat_layer)

In [9]:
#fig

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
gheat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)


# Add layer
fig.add_layer(gheat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
narrowed_list_df= gweather_df
narrowed_list_df= narrowed_list_df.dropna()
narrowed_list_df = narrowed_list_df.loc[(narrowed_list_df['Windspeed'] <10) & (narrowed_list_df['Cloudiness']==0) & (narrowed_list_df['Temperature']>70) & (narrowed_list_df['Temperature']<80)]
narrowed_list_df.head()

,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature
175,Salalah,OM,0,17.0151,54.0924,68,2.30,73.40
179,Contai,IN,0,21.7786,87.7536,91,8.88,72.16
212,Batticaloa,LK,0,7.7102,81.6924,72,2.77,74.50
240,Yenagoa,NG,0,4.9247,6.2642,88,4.32,78.57
241,Dubbo,AU,0,-32.2500,148.6167,65,4.61,77.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df= narrowed_list_df
hotel_df['Hotel Name'] = ''
hotel_df.head()

,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature,Hotel Name
175,Salalah,OM,0,17.0151,54.0924,68,2.30,73.40,
179,Contai,IN,0,21.7786,87.7536,91,8.88,72.16,
212,Batticaloa,LK,0,7.7102,81.6924,72,2.77,74.50,
240,Yenagoa,NG,0,4.9247,6.2642,88,4.32,78.57,
241,Dubbo,AU,0,-32.2500,148.6167,65,4.61,77.00,

In [33]:
b_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {"type":"hotel","radius":5000, "key":g_key}
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Long"]
    city_name =row["City Name"]
    params['location'] = f'{lat},{lng}'
    response = requests.get(b_url,params=params).json()
    print(response)
    print(f"Retrieving Results in  {index}: {city_name}.")
    #print(json.dumps(response, indent=4, sort_keys=True))
    results = response['results']
    
    try:
        print(f"Closest Hotel in {city_name} is: {results[0]['name']}.")
        hotel_df.loc[index,"Hotel Name"]=results[0]['name']
    except (IndexError):
        print ("missing Hotel")

{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  175: Salalah.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  179: Contai.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  212: Batticaloa.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  240: Yenagoa.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  241: Dubbo.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  268: Saint-Philippe.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  317: Saint-Joseph.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  397: Oussouye.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  404: Saint-Pierre.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  408: Bobo-Dioulasso.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  425: Santa Cruz del Sur.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  480: Beïnamar.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  483: Lere.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  504: Nagapattinam.
missing Hotel
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Retrieving Results in  536: Point Pedro.
missing Hotel

In [34]:
example = city_name[0]
test_url = b_url + example
test_response = requests.get (b_url).json()
from pprint import pprint
pprint(test_response)

{'error_message': 'You must use an API key to authenticate each request to '
                  'Google Maps Platform APIs. For additional information, '
                  'please refer to http://g.co/dev/maps-no-account',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [17]:
hotel_df

,City Name,Country,Cloudiness,Lat,Long,Humidity,Windspeed,Temperature,Hotel Name
175,Salalah,OM,0,17.0151,54.0924,68,2.30,73.40,
179,Contai,IN,0,21.7786,87.7536,91,8.88,72.16,
212,Batticaloa,LK,0,7.7102,81.6924,72,2.77,74.50,
240,Yenagoa,NG,0,4.9247,6.2642,88,4.32,78.57,
241,Dubbo,AU,0,-32.2500,148.6167,65,4.61,77.00,
268,Saint-Philippe,RE,0,-21.3585,55.7679,69,2.30,77.00,
317,Saint-Joseph,RE,0,-21.3667,55.6167,69,2.30,77.00,
397,Oussouye,SN,0,12.4850,-16.5469,78,6.91,75.20,
404,Saint-Pierre,RE,0,-21.3393,55.4781,69,2.30,77.00,
408,Bobo-Dioulasso,BF,0,11.1771,-4.2979,47,4.07,77.00,
425,Santa Cruz del Sur,CU,0,20.7147,-77.9956,70,3.94,78.60,
480,Beïnamar,TD,0,8.6698,15.3813,20,2.28,74.97,
483,Lere,NG,0,10.3870,8.5726,15,8.70,73.08,
504,Nagapattinam,IN,0,10.7667,79.8333,78,1.59,73.53,
536,Point Pedro,LK,0,9.8167,80.2333,74,8.70,77.25,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure